# Python
__pycache__/
.venv/
.mypy_cache/
.ruff_cache/
.pytest_cache/
*.pyc
*.pyo
dist/
build/
*.egg-info/

# Node
node_modules/
dist/

# Env files
.env
.env.*

# OS
.DS_Store
Thumbs.db

# mise
.mise.local.toml
